    <div class="w3-row w3-light-grey w3-border-bottom">
      <aside id="intro" class="w3-container w3-center w3-padding-16">
        <div>
          <span id="intro-description">{{ AUTHOR_INTRO }}</span>
          <ul class="social" style="margin: 0; margin-top: 10px; padding: 0;">
            {% for name, link in SOCIAL %}
            <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
            {% endfor %}
            <li><a href="https://www.wattpad.com/user/ZamAckerman" target="_blank"><img width="32" height="32" src="https://www.shareicon.net/data/128x128/2015/08/27/91476_media_512x512.png"></img></a></li>
            
          </ul>
        </div>
        <div style="line-height: 180px;">
          <a href="{{ AUTHOR_WEB }}" target="_blank"><img class="avatar" alt="Avatar" src="{{ AUTHOR_AVATAR }}" onerror="this.src='theme/images/avatar.png'"></a>
        </div>
      </aside>
    </div>
